<footer class="container-fluid">
    <div class="ftr-wrapper">
        <div class="ftr-top">
            <ul class="list-links">
                <li><a href="mailto:clientspace.support@havasmg.com?subject=CS - SANOFI"><i class="fa fa-envelope-o"
                                                                                            aria-hidden="true"></i>clientspace.support@havasmg.com</a>
                </li>
            </ul>
            <ul class="list-social">
                <li><a href="https://twitter.com/HavasMedia" target="_black">
                    <button type="button" class="btn"><i class="fa fa-twitter" aria-hidden="true"></i></button>
                </a></li>
                <li><a href="https://www.facebook.com/HavasGroup/" target="_black">
                    <button type="button" class="btn"><i class="fa fa-facebook" aria-hidden="true"></i></button>
                </a></li>
                <li><a href="https://www.youtube.com/user/HavasGroup" target="_black">
                    <button type="button" class="btn"><i class="fa fa-youtube-play" aria-hidden="true"></i></button>
                </a></li>
            </ul>
        </div>
        <div class="ftr-bottom">
            <div class="ftr-brands">
                <div class="group-brands">
                    <a href="http://www.ab-inbev.com/" target="_black"><img src="assets/logo-brand-white.svg"
                                                                            alt=""></a>
                </div>
                <ul class="list-inline">
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="ftr-copy">
                <div class="group-brands">
                    <a href="http://www.havasmedia.com/" target="_black"><img src="assets/logo-agency-white.svg" alt=""></a>
                </div>
                <p>Copyright © 2017 HAVAS. All rights reserved</p>
            </div>
        </div>
    </div>
</footer>