<div class="filterCarrousel">
    <img src="assets/brands/danone.svg">
    <div class="container-carrousel">
        <h2>{{selected.name}}</h2>
        <h3>{{selected.subname}}</h3>
        <div class="column-carrousel">
            <span class="row-carrousel">
                <div>DATE</div>
                <div>{{selected.date}}</div>
            </span>
            <span class="row-carrousel">
                <div>BUSINESS UNIT</div>
                <div>{{selected.bu}}</div>
            </span>
            <span class="row-carrousel">
                <div>MARKET</div>
                <div>{{selected.market}}</div>
            </span>
            <span class="row-carrousel">
                <div>EVALUATOR</div>
                <div>{{selected.evaluator}}</div>
            </span>
        </div>
    </div>
</div>