
.container {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  .personajes {
    list-style-type: none;

    li {
      margin-top: 10px;
      border-style: groove;
    }
  }
}